/*

MATERIAL UI BREAKPOINTS

xs, extra-small: 0px
sm, small: 600px
md, medium: 960px
lg, large: 1280px
xl, extra-large: 1920px

*/


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*------------------------------------------------
                    MY EDITS
-------------------------------------------------*/


/* SVG Edit */
svg.rsm-svg {
  min-height: 600px!important;
}

svg.rsm-svg:focus {
  outline: none;
}

.rsm-geographies path {
  cursor: pointer;
} 

/* Select menu Popover Edit */
#menu- .MuiMenu-paper {
  min-width: 450px;
/*  margin-top: 4.5rem!important;
  transform-origin: 0px 39px!important;*/
}
@media only screen and (max-width: 600px) {
  #menu- .MuiMenu-paper {
    min-width: 325px;
  }
}


/* SVG Map */

.rsm-geographies {
  transform: scaleX(1.2);
}
@media only screen and (max-width: 1279px) {
  .rsm-geographies {
    transform: scaleX(1.2) translateX(-75px);
  }
}

@media only screen and (max-width: 1080px) {
  .rsm-geographies {
    transform: scaleX(1.2) translateX(-135px);
  }
}

.map-class {
  fill: #327ab7!important;
  stroke: white!important;
}

.__react_component_tooltip {
  background-color: #F3F8FC!important;
  color: #337ab7!important;
  opacity: 1!important;
}

.place-top::after { border-top-color: #F3F8FC!important;  }
.place-right::after { border-right-color: #F3F8FC!important;  }
.place-left::after { border-left-color: #F3F8FC!important;  }
.place-bottom::after { border-bottom-color: #F3F8FC!important;  }

.rsm-svg:last-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



/* Circle progress bar */

.editClass > .MuiLinearProgress-colorPrimary {
  background-color: rgb(182, 188, 226)!important;
}

.editClass > div > .MuiCircularProgress-root {
  background-color: #FFF9F0!important;
}

.editClass > .MuiCircularProgress-root {
  color: #FF9800!important;
}

.linerClass {
  position: relative;
  width: fit-content;
}

.linerClass .progressText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold!important;
  position: absolute;
  height: 100%;
  width: 100%;
  top:  0;
}

.MuiCircularProgress-circleDeterminate {
  transition: stroke-dashoffset 1000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms!important;
  /*stroke-linecap: round;*/
}

.MuiCircularProgress-determinate:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  border-style: solid;
  border-color: inherit;
  border-radius: 50%;
  z-index: -1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.single > .MuiCircularProgress-root:before {
  border-width: 17.5px;
}
.two > .MuiCircularProgress-root:before {
  border-width: 11px;
}
.more > .MuiCircularProgress-root:before {
  border-width: 9px;
}

.textHeader {
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin: 3.5rem 0 0;
}

.pointerClass {
  pointer-events: none!important;
}




/* Table linear bar */

td .MuiLinearProgress-root {
  background-color: #E0E6EB!important;
  height: 8px;
  border-radius: 124px;
}

td > div > .MuiLinearProgress-root > .MuiLinearProgress-bar {
  background-color: #E0E6EB!important;
}

.low .MuiLinearProgress-bar {
  background-color: #ff9800!important;
}
.mid .MuiLinearProgress-bar {
  background-color: #009ab2!important;
}
.high .MuiLinearProgress-bar {
  background-color: #35BA83!important;
}


/* Select edit */

.MuiSelect-select:focus, .MuiSelect-select:hover {
  background: #E0E6EB;
  transition: .5s;
}

.MuiInput-underline:after {
  border-color: #337ab7!important;
}
.MuiInput-underline:before {
  border-color: #627C93!important;
}

.MuiInputBase-root .MuiSelect-icon {
  color: #337ab7!important;
}

.MuiSelect-select.MuiSelect-select {
  padding: 1rem;
  color: #627C93!important;
  font-size: 1rem!important;
}

.MuiListItem-root.MuiMenuItem-root {
  margin: .25rem .5rem!important;
  border-radius: 124px;
}

.MuiListItem-root.MuiMenuItem-root:hover, .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
  background-color: #F3F8FC!important;
}

.Mui-checked {
  color: #337ab7!important;
}

.Mui-checked > span > svg {
  border: 2px #337ab7 solid!important;
  border-radius: 3px!important;
  font-size: 1.25rem!important;
}



/* Table edits --*/

th .MuiTypography-caption, td .MuiTypography-caption {
  text-transform: capitalize;
}

thead th .MuiTypography-caption, tbody tr .MuiTypography-caption {
  text-transform: uppercase;
}

tbody tr .MuiTypography-caption {
  padding: 0!important;
}

thead th > span, tbody td > span  {
  font-size: 11px!important;
  font-weight: 600!important;
  color: #627C93;
}

@media (min-width: 600px) and (max-width: 960px) {
  .padFix {
    padding: 0 3rem!important;
  }
}